<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close-btn" type="button" data-modal-close aria-label="{{modal.btn_close_aria}}">
      <svg class="modal-btn-close-svg" width="30" height="30">
        <use href="./assets/images/sprite.svg#icon-close-menu"></use>
      </svg>
    </button>

    <img class="logo" src="./assets/images/logo.svg" alt="logo" width="100" height="30" loading="lazy" />

    <div class="modal-progress">
      <ul class="list modal-progress-bar">
        <li class="item is-active"><span>1</span></li>
        <li class="item"><span>2</span></li>
        <li class="item"><span>Готово</span></li>
      </ul>
    </div>
    <form class="modal-form" id="register_form" novalidate data-form>
      <h2 class="modal-title section__title accent-text">{{modal.title}}</h2>
      <div class="modal-group">
        <label class="modal-label"> {{modal.name}} </label>
        <input class="modal-input" type="text" id="register_form_input_name" name="name" required=""
          data-field="name" />
      </div>
      <div class="modal-group">
        <label class="modal-label"> {{modal.phone}} </label>
        <input class="modal-input" type="tel" id="register_form_input_phone" name="phone" required=""
          data-field="phone" />
      </div>
      <div class="modal-group">
        <label class="modal-label"> {{modal.email}} </label>
        <input class="modal-input" type="email" id="register_form_input_email" name="email" required=""
          data-field="email" />
      </div>
      <div class="btn-cont">
        <button class="btn btn-black" type="submit">{{modal.btn}}</button>
      </div>
    </form>
    <div class="modal-message">
      <p class="modal-text">{{modal.text}}</p>
      <div class="progress">
        <div class="color"></div>
      </div>
    </div>
    <div class="modal-advice modal-advice--hidden">
      <h2 class="title">{{modal.advice}}</h2>
      <p>{{modal.advice_text}}</p>
    </div>
  </div>
</div>