/*! purgecss start ignore */
// Leeloo div styles
.leeloo {
  @apply mx-auto mt-5 overflow-hidden;

  & iframe {
    @apply mx-auto block;
  }

  & > div {
    width: 100%;
  }

  & > div .leeloo-lgt-form-wrapper .leeloo-lgt-form {
    width: 100% !important;
  }

  & .leeloo-lgt-form-wrapper {
    @apply block;
  }

  & .leeloo-lgt-form {
    width: 100% !important;
  }
}
/*! purgecss end ignore */

// Progress bar styles
.progress-bar {
  @apply relative mt-6 h-[10px] w-full rounded-2xl;

  & .color {
    @apply absolute h-[10px] w-0 rounded-2xl bg-accent;
    animation: progress 4s infinite linear;
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

.scroll-hidden {
  @apply overflow-hidden;
}

.steps-bar {
  @apply relative flex justify-between py-0 px-[18px] md:px-10;

  & .active:before {
    @apply border-accent bg-white;
  }

  & > .item {
    @apply relative overflow-visible whitespace-nowrap border-b border-accent font-normal;
    flex: 2;

    &:first-child,
    &:last-child {
      @apply flex-1;
    }

    &:first-child {
      @apply pl-3;
    }

    &:last-child {
      @apply pr-3;
    }

    &:before {
      @apply absolute left-[calc(50%_-_15px)] -bottom-4 block h-[28px] w-[28px] rounded-full border border-accent bg-white duration-300 ease-linear content-[""] md:h-8 md:w-8;
    }

    &:first-child:before {
      @apply left-0;
    }

    &:last-child:before {
      @apply right-0 left-auto;
    }

    &.active:before {
      @apply border-none bg-[#FFB584] text-[#010101];
    }

    span {
      @apply text-[14px] leading-[1.2] text-[#010101] duration-300 ease-linear md:text-[16px];

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:first-child span {
      @apply left-[23%] md:left-[20%];
    }

    &:last-child span {
      @apply left-[77%] md:left-[80%];
    }

    &:not(.active) span {
      @apply border-accent bg-white text-[#979797];
    }
  }
}

.form-btn {
  @apply mt-7 w-full rounded-2xl border-2 border-transparent bg-accent p-4 text-center font-bold text-white outline-none duration-300 ease-linear hover:border-accent hover:bg-transparent hover:text-accent focus:border-accent focus:bg-transparent focus:text-accent;
}
