@include mq(notDesktop) {
  .mobile-menu {
    @apply pointer-events-none fixed z-50 px-6 pt-2;
    transform: translateX(100%);
    transition: transform 250ms;

    &.is-open {
      @apply pointer-events-auto;
      transform: translateX(0);
    }

    &-btn {
      @apply h-6 w-6 bg-inherit p-0;
    }

    &-btn-icon {
      @apply stroke-black duration-300 hover:stroke-accent focus:stroke-accent;
    }
  }

  .burger {
    cursor: pointer;
    position: relative;
    z-index: 21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34px;
    height: 19px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;

    &:hover .burger-bar,
    &:focus .burger-bar {
      @apply bg-accent;
    }

    & span:nth-child(1) {
      top: 0px;
    }

    & span:nth-child(2) {
      top: 8px;
    }

    & span:nth-child(3) {
      top: 16px;
    }

    &-bar:not(:last-child) {
      display: inline-block;
    }
  }

  .burger-bar {
    background-color: #474747;
    height: 3px;
    width: 32px;
    border-radius: 5px;
    display: block;
    position: absolute;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
  }

  .burger-opened {
    & .burger-bar:nth-child(1) {
      width: 30px;
      top: 10px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    & .burger-bar:nth-child(2) {
      width: 30px;
      opacity: 0;
      left: -20px;
    }

    & .burger-bar:nth-child(3) {
      top: 10px;
      width: 30px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
    }
  }
}

@include mq(desktop) {
  .mobile-menu-btn,
  .mobile-menu,
  .burger {
    @apply hidden;
  }
}
