.header {
  .img-people::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 114px;
    top: 102%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/header/people.svg');
    background-repeat: no-repeat;
  }
  .gift::before {
    content: '';
    position: absolute;
    width: 115px;
    height: 115px;
    top: 0;
    right: -28px;

    background-image: url('../images/header/gift.svg');
    // background-size: contain;
    background-repeat: no-repeat;
  }
  .banner{
    background-image: url('../images/header/bell.svg');
    background-repeat: no-repeat;
   
  }
}
