.step-3 {
  @apply min-h-[1140px] md:min-h-[960px] xl:h-[720px] xl:min-h-full xxl:h-[800px];
  background-repeat: no-repeat;
  background-size: 768px auto;
  background-position: bottom center;
  // background-image: url(../images/sections/quiz/python-bg.webp);

  @include mq(tablet) {
    background-size: 1280px auto;
  background-position: bottom left;


  }

  @include mq(desktop) {
    background-size:1600px auto;
    background-position: top center;

  }

  @include mq(big-desktop) {
    background-size: 1920px auto;

  }

  .item {
    @apply text-sm text-black-1A flex gap-4;

    p {
      @apply w-[295px] sm:w-full md:text-base xl:text-lg
    }
  }

  .subtitle {
    @apply text-black-1A text-center text-lg font-bold mb-6
  }
}