.step-2 {
  @apply md:min-h-[80vh] md:h-[1344px] xl:h-[80vh] xl:min-h-[720px] xxl:min-h-[800px];
  background-image: url(../images/sections/step-2/bg-mob.webp);
  background-repeat: no-repeat;
  background-size: 768px auto;
  background-position: top 0 left calc(50% + 0px);

  @include mq(tablet) {
    background-image: url(../images/sections/step-2/bg-tab.webp);
    background-size: 1280px auto;

  }

  @include mq(desktop) {
    background-image: url(../images/sections/step-2/bg-desk.webp);
    background-position: top center;
    background-size:1600px auto ;

  }

  @include mq(big-desktop) {
    background-image: url(../images/sections/step-2/bg-big-desk.webp);
    background-size: 1920px auto ;


  }

  @apply font-Inter;

  .quiz-wrapper {
    .progress-item .box {
      @apply h-full w-0 ;
    }

    .progress-item.active .box {
      @apply w-full;
    }

    .quiz {
      .quiz-item {
        @apply hidden;

        &.active {
          @apply block;
        }
      }
    }
  }
}