.step-2 {
  background-image: url(../images/sections/step-2/bg-mob.webp);
  background-repeat: no-repeat;
  background-size: 804px auto;
  background-position: top 0px left calc(50% + 25px);

  @apply font-Inter;

  .quiz-wrapper {
    .progress-item .box {
      @apply h-full w-0;
    }

    .progress-item.active .box {
      @apply w-full;
    }

    .quiz {
      .quiz-item {
        @apply hidden;

        &.active {
          @apply block;
        }
      }
    }
  }
}