{% set section = about %}

<section class="{{section.id}} pt-10 pb-20 xl:py-20">
  <div class="container">
    <!-- TITLE & DESCRIPTION -->
    <h2 class="mb-6 section-title font-IBMPlexMono text-black-1A font-bold uppercase md:mb-10 xl:mb-6 xxl:mb-10">
      {{section.title}}
    </h2>
    <p class="mb-6 text-sm text-black-47 font-normal md:mb-8 md:text-base xl:mb-[48px] xl:max-w-[984px] xl:text-[18px] xl:leading-7">
      {{section.text}}
    </p>

    <!-- ACHIEVEMENTS LIST -->
    <ul
      class="flex smOnly:flex-col smOnly:gap-6 md:flex-wrap md:items-center md:justify-between md:gap-y-[96px]"
    >
      <!-- IMG AWARD ITEM -->
      {% for item in section.items %} {% if item.img %}
      <li class="about__items {{item.class}} relative md:px-[35px] md:pt-12 xl:px-0 xxl:pb-5">
          <img
            class="item-img mx-auto mb-2 xxl:mb-6"
            width="{{item.width}}"
            height="{{item.height}}"
            loading="lazy"
            alt="{{item.alt}}"
            src="./assets/images/sections/about/{{item.img}}.webp"
            srcset="./assets/images/sections/about/{{item.img}}@2x.webp 2x"
          />
        <h3
          class="item-title mb-2 text-center uppercase font-IBMPlexMono text-[18px] leading-[26px] font-semibold xl:text-xl"
        >
          {{item.title}}
        </h3>
        <p class="item-text text-center text-xs font-semibold leading-[18px] md:text-[10px] md:leading-[14px] xl:text-base">
          {{item.text}}
        </p>
      </li>

      <!-- NUMBERED ACHIEVEMENT ITEM -->
      {% else %}
      <li class="about__items {{item.class}} relative">
        <p
          class="item-number mb-2 text-center font-IBMPlexMono text-[68px] font-semibold uppercase leading-[1.2] md:text-[60px] xl:text-[100px] mdOnly:mb-1"
        >
          {{item.number}}
        </p>
        <p
          class="item-text text-center uppercase font-IBMPlexMono text-[18px] leading-7 font-semibold xl:text-xl"
        >
          {{item.text}}
        </p>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>