{% set section = header %}

<header class="{{section.id}} py-[24px] md:py-8 xl:py-3  xxl:py-3 shadow-header">
  <div class="container flex flex-wrap items-center justify-between gap-3">
    <div class="flex">
      <a
        href="{{page.canonical}}"
        aria-label="{{components.logo.link_logo_aria}}"
        class="header-logo"
      >
        <svg
          aria-label="{{components.logo.logo_aria}}"
          width="142"
          height="36"
          class="header-logo__svg h-auto w-[93px] md:w-[142px] xl:w-[93px] xxl:w-[142px]"
        >
          <title>{{components.logo.logo_aria}}</title>
          <use href="./assets/images/sprite.svg?v={{assetsVersion}}#logo"></use>
        </svg>
      </a>
    </div>
  </div>
</header>

{#
<div class="container">{% set formId = "hero" %} {% include 'components/formFields.njk' %}</div>
#}
