{% set section = header %}
<header class="{{section.id}}">
  <div class="container max-w-[500px]">
    <!-- LOGO -->
    {% include 'components/logo.html' %}
    <!-- <button class="btn" type="button" data-modal-open>Open modal</button> -->

    <!-- MOBILE-MENU (includes logo, nav-menu and mobile-menu, uncomment style and js) -->
    {% include 'components/mobile-menu.html' %}

    <!-- FORM in section (add formId to form.js) -->
    {% set formId = section.id %} {% include 'components/formFields.njk' %}

    <!-- TIMER -->
    {% include 'components/timer.html' %}

    <!-- ACCORDION (uncomment style and js) -->
    {% include 'components/accordion.html' %}
  </div>
</header>
