<div class="backdrop-bannerCookies bannerCookies-is-hidden" data-modal-bannerCookies>
  <div
    class="bannerCookies relative max-h-[288px] bg-white px-5 py-9 text-black md:max-h-[128px] md:px-6 xl:max-h-[96px] xl:max-w-[1280px] xl:px-6 xl:py-9"
  >
    <div class="md:flex md:w-full md:items-center md:justify-between">
      <h2 class="mb-10 text-base md:mb-0 md:block md:max-w-[512px] xl:max-w-none">
        {% if page.lang === 'en' %} {{bannerCookies.title}} {% elif page.lang === 'pl' %}
        {{bannerCookies.titlePl}} {% elif page.lang === 'ro' %} {{bannerCookies.titleRo}} {% endif
        %}
        <a
          href="{% if page.lang === 'en' %} {{bannerCookies.policy.link}} {% elif page.lang === 'pl' %} {{bannerCookies.policy.linkPl}} {% elif
        page.lang === 'ro' %} {{bannerCookies.policy.linkRo}} {% endif %}"
          class="inline underline"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >{% if page.lang === 'en' %} {{bannerCookies.policy.text}} {% elif page.lang === 'pl' %}
          {{bannerCookies.policy.textPl}} {% elif page.lang === 'ro' %}
          {{bannerCookies.policy.textRo}} {% endif %}</a
        >
        {% if page.lang === 'en' or page.lang === 'ro' %} & {% elif page.lang === 'pl' %} oraz {%
        endif %}
        <a
          href="{% if page.lang === 'en' %} {{bannerCookies.terms.link}} {% elif page.lang === 'pl' %} {{bannerCookies.terms.linkPl}} {% elif
        page.lang === 'ro' %} {{bannerCookies.terms.linkRo}} {% endif %}"
          class="inline underline"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >{% if page.lang === 'en' %} {{bannerCookies.terms.text}} {% elif page.lang === 'pl' %}
          {{bannerCookies.terms.textPl}} {% elif page.lang === 'ro' %}
          {{bannerCookies.terms.textRo}} {% endif %}
        </a>
      </h2>

      <button
        type="button"
        class="btn acceptBtn mx-auto block w-[270px] rounded-2xl border-2 border-transparent bg-accent text-center text-xl text-white outline-none duration-300 ease-linear hover:border-[#F36300] hover:bg-transparent hover:text-[#F36300] focus:border-[#F36300] focus:bg-transparent focus:text-[#F36300] md:mx-0 md:w-[205px]"
      >
        {% if page.lang === 'en' %} {{bannerCookies.btnText}} {% elif page.lang === 'pl' %}
        {{bannerCookies.btnTextPl}} {% elif page.lang === 'ro' %} {{bannerCookies.btnTextRo}} {%
        endif %}
      </button>
    </div>
  </div>
</div>
