{% if page.lang === 'uk' and page.type === 'goit' %} {% set component = components.cookieBanner.uk
%}
<!--  -->
{% elif page.lang === 'pl' and page.type === 'goit' %} {% set component = components.cookieBanner.pl
%}
<!--  -->
{% elif page.lang === 'en' and page.type === 'goit' %} {% set component = components.cookieBanner.en
%}
<!--  -->
{% elif page.lang === 'ro' and page.type === 'goit' %} {% set component = components.cookieBanner.ro
%}
<!--  -->
{% endif %}

<div class="backdrop-{{component.id}} {{component.id}}-is-hidden" data-{{component.id}}>
  <div
    class="{{component.id}} relative max-h-[288px] bg-white px-5 py-9 text-black md:max-h-[128px] md:px-6 xl:max-h-[96px] xl:max-w-[1280px] xl:px-6 xl:py-9"
  >
    <div class="md:flex md:w-full md:items-center md:justify-between">
      <h2 class="mb-10 text-base md:mb-0 md:block md:max-w-[512px] xl:max-w-none">
        {{component.title}}
        <a
          class="inline text-accent underline"
          href="{{component.policy.link}}"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >{{component.policy.text}}</a
        >
        {{component.separator}}
        <a
          class="inline text-accent underline"
          href="{{component.terms.link}}"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >{{component.terms.text}}</a
        >
      </h2>
      <button class="form-btn" type="button" data-accept-cookie-btn>{{component.btn}}</button>
    </div>
  </div>
</div>
