<section class="backdrop is-hidden smOnly:px-2" data-modal>
  <div class="modal bg-white text-black-light">
    <button
      class="modal-close-btn"
      type="button"
      data-modal-close
      aria-label="{{modal.btn_close_aria}}"
    >
      <svg class="modal-btn-close-svg" width="30" height="30" aria-label="{{modal.btn_close_aria}}">
        <use href="./assets/images/sprite.svg#icon-close-menu"></use>
      </svg>
    </button>

    <h2 class="text-center text-2xl font-bold">{{ form.title }}</h2>

    {% import './macro/step.html' as service %} {{service.stepDiv(form.steps, form.ID)}} {% include
    './formFields.njk' %}
  </div>
</section>
