{% macro inputField(arg,id) %}
<div class="input-group {{ arg.class }}">
    <!-- Select -->
    {% if arg.type == "select" %}
    {% if arg.title %}
    <label class="input-label" for="{{ id }}_select_{{ arg.name }}">{{ arg.title }}</label>
    {% endif %}

    <select class="select-field" id="{{ id }}_select_{{ arg.name }}" name="{{ arg.name }}" required=""
        data-field="{{ arg.dataField }}" {% if arg.readOnly %} readonly="{{ arg.readOnly }}" {% endif %}>
        {% for option in arg.options %}
        <option value="{{ option.value }}" {% if option.disabled %} disabled {% endif %} {% if option.selected %}
            selected {% endif %}>
            {{ option.text }}
        </option>
        {% endfor %}
    </select>

    <!-- Textarea -->
    {% elif arg.type == "textarea" %}
    {% if arg.title %}
    <label class="input-label" for="{{ id }}_input_{{ arg.name }}">{{ arg.title }}</label>
    {% endif %}
    <textarea class="input-field input-message" id="{{ id }}_input_{{ arg.name }}" name="{{ arg.name }}" required=""
        placeholder="{{ arg.placeholder }}" data-field="{{ arg.dataField }}"></textarea>

    <!-- Checkbox -->
    {% elif arg.type == "checkbox" %}
    {% if arg.title %}
    <label class="input-label-checkbox {{arg.classLabel}}">
        {% endif %}
        <input class="visually-hidden" type="{{ arg.type }}" id="{{ id }}_input_{{ arg.name }}" name="{{ arg.name }}"
            value="agree" required="" data-field="{{ arg.dataField }}" />
        <span class="checkbox"></span>
        {{ arg.title }}{% for link in arg.links %}
        <a class="link agree-link" href="{{ link.href }}" target="_blank" rel="noopener noreferrer nofollow">
            {{ link.text }}</a>{% if not loop.last %} and {% endif %}{% endfor %}.
        {% if arg.title %}
    </label>
    {% endif %}
    {% else %}

    <!-- Input -->
    {% if arg.title %}
    <label class="input-label" for="{{ id }}_input_{{ arg.name }}">{{ arg.title }}</label>
    {% endif %}
    <input class="input-field" type="{{ arg.type }}" id="{{ id }}_input_{{ arg.name }}" name="{{ arg.name }}"
        required="" data-field="{{ arg.dataField }}" {% if arg.readOnly %} readonly="{{ arg.readOnly }}" {% endif %} {%
        if arg.placeholder %} placeholder="{{ arg.placeholder }}" {% endif %} />
    {% endif %}
</div>
{% endmacro %}